<h1>{{title}}</h1>
<div class="container">
  <button class="btn btn-primary" type="button"
   data-toggle="collapse" data-target="#searchArea"
   aria-expanded="false" aria-controls="searchArea">
    Filtros
  </button>
  <button type="button" class="btn btn-primary"
   data-toggle="modal" data-target="#modulo-add-modal">
  Agregar
  </button>
  <app-criteria-form id="searchArea">
  </app-criteria-form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Docente</th>
        <th scope="col">Suplente</th>
        <th scope="col">Revista</th>
        <th scope="col">Espacio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let modulo of moduloList | moduloFilter: criteria">
        <th scope="row">{{ modulo.docente }}</th>
        <td>{{ modulo.name }}</td>
        <td>{{ modulo.hourFrom }}</td>
        <td>{{ modulo.HourTo }}</td>
      </tr>
    </tbody>
  </table>
  <app-modal modalId="modulo-add-modal"
    modalTitle="Agregar modulo">
    <modal-body>
      <div>
        <label>Docente: </label>
        <input [(ngModel)]="newModulo.docente" placeholder="Docente" />
      </div>
      <div>
        <label>Nombre: </label>
        <input [(ngModel)]="newModulo.name" placeholder="Nombre" />
       </div>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="goBack()">Cancelar</button>
      <button type="button" class="btn btn-primary"(click)="create()">Guardar</button>
    </modal-footer>
  </app-modal>

</div>