/* You can add global styles to this file, and also import other style files */
.modal-body {
  .form-group {
    label {
      margin: 6px 0;
    }
  }
}

.navbar{
  .user-bar {
    img {
      float: right;
      border-radius: 50%;
    };
    line-height: 50px;
    color: white;
    font-weight: bold;
  }
}
